body {
  text-align: center;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px 20px;
}

header .header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* menu */

.menu {
  position: relative;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.menu-content {
  display: none;
  position: absolute;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-content a {
  display: block;
  padding: 8px 12px;
  color: black;
  text-decoration: none;
}

.menu-content a:hover {
  background: #f0f0f0;
}

.menu:hover .menu-content {
  display: block;
}

/* barra de pesquisa */

.search-bar {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 0px;
  padding: 5px;
}

.search-bar input {
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  outline: none;
  width: 180px;
  transition: width 0.3s ease-in-out;
}

.search-bar input:focus {
  width: 220px;
}

.search-bar button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.search-bar button:hover {
  background-color: #444;
}

/* content dos produtos */

.list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.item {
  width: 220px;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #ffffff;
}

.sneakers-image img {
  max-width: 100%;
  height: auto;
}

.content {
  margin-top: 10px;
}

/* rodapé */

.footer {
  background-color: #333;
  color: white;
  padding: 30px;
  text-align: center;
  font-size: 14px;
}

.footer-content div {
  margin-bottom: 20px;
}
